* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;

}

body {
  font-family: "Gill Sans", sans-serif;
  font-style: normal;
  color: #000000;
  line-height: 1.5;
  font-size: 14px;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-style: normal;
  font-weight: 400;
}

h2 {
  font-family: bebas-neue-by-fontfabric, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 27px;
  font-weight: bold;
}

h3 {
  font-family: "Gill Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  background-color: #7d4f50;
  width: 100%;
  height: 8vh;
  position: fixed;
  top: 0;
  overflow: hidden;
  box-shadow: 0 0 25px 0 black;
  justify-content: space-between;
}

nav a:link {
  color: white;
  text-decoration: none;
  margin: 0;
  font-weight: bold;
}

nav a:visited {
  color: white;
  text-decoration: none;
}

nav a:hover {
  color: rgb(255, 188, 188);
}

.clicked a:link {
  color: rgb(255, 188, 188);
}

.navlinks {
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
  margin-left: auto;
}

nav h1 {
  margin-left: 10px;
  font-size: 30px;
  color: aliceblue;
  letter-spacing: 5px;
}

.hamburger {
  display: none;
}

.hamburger div {
  background-color: aliceblue;
  width: 25px;
  height: 3px;
  margin: 5px;
  transition: all 0.3s ease;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #f9eae1;
}

.para-one {
  background-image: url(../img/IMG_20181223_160445.jpg);
  margin-top: 8vh;
  height: 40vh;
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.para-one.h-one {
  margin-top: 0;
  width: 60%;
  height: 20vh;
  background-image: url(../img/IMG_20181223_143413.jpg);
}

.para-one.h-two {
  margin-top: 0;
  width: 60%;
  height: 20vh;
  background-image: url(../img/IMG_20181223_160810.jpg);
}

.para-one.h-three {
  margin-top: 0;
  width: 60%;
  height: 20vh;
  background-image: url(../img/IMG_20181223_161559.jpg);
}

.para-one.h-four {
  margin-top: 0;
  width: 60%;
  height: 20vh;
  background-image: url(../img/IMG_20181223_161559.jpg);
}

.about,
.edu,
.skills,
.contact,
.projects {
  display: flex;
  width: 60%;
  overflow-wrap: normal;
  text-align: center;
}

.about {
  text-align: start;
}

.fl1 {
  width: 20%;
  min-width: 140px;
  padding: 10px 0px;
  text-align: center;
  letter-spacing: 2px;
  background-color: #fdfefd;
}

.fl2 {
  width: 100%;
  padding: 12px 10px 12px 0px;
  background-color: #fdfefd;
}

.edu {
  flex-direction: column;
}

.edu ul {
  margin: 0 0 10px 0;
}

.edu #company,
#academia {
  font-size: larger;
  font-style: italic;
}

.work,
.education {
  display: flex;
}

.skills ul {
  padding-bottom: 10px;
}

.skills li {
  margin: 10px;
}

.skills .fl2 h3 {
  padding-bottom: 10px;
}

.projects .fl2 {
  display: flex;
  flex-wrap: wrap;
  text-align: start;
}

.projects br {
  margin: 10px 0;
}

.projects img {
  height: auto;
  width: 100%;
}

.projects h3 {
  text-align: left;
}

.project-img {
  float: left;
  width: 50%;
  padding: 15px 15px 15px 0px;
}

.project-disc {
  padding-left: 100px;
  padding-top: 15px;
}

.projects p {
  padding: 2% 0;
}

.contact {
  justify-content: center;
  align-items: center;
}

.projects a:link {
  float: right;
  padding-right: 10px;
  color: #000000;
  text-decoration: none;
}

.projects a:visited {
  color: #000000;
  text-decoration: none;
}

.projects a:hover {
  font-weight: bold;
}

.contact {
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  font-size: 60%;
  padding: 10px 0px;
}

.contact a:link {
  color: #000000;
  text-decoration: none;
}

.contact a:visited {
  color: #000000;
  text-decoration: none;
}

footer {
  display: flex;
  background-color: #7d4f50;
  width: 100%;
  height: fit-content;
  overflow: hidden;
  color: aliceblue;
  flex-shrink: 0;
  bottom: 0;
  align-content: center;
  justify-content: center;
}

@media only screen and (max-width: 1750px) {
  .project-wrapper {
    display: flex;
    flex-direction: column;
  }

  .project-wrapper {
    display: flex;
    flex-direction: column;
  }

  .projects br {
    margin: 10px 0;
  }

  .projects img {
    height: auto;
    width: 100%;
  }

  .projects h3 {
    text-align: center;
  }

  .project-img {
    align-items: center;
    width: 100%;
    padding: 15px 15px 0px 15px;
  }

  .project-disc {
    padding: 0px 15px 15px 15px;
  }

  .projects p {
    padding: 2% 0;
  }
}

@media only screen and (max-width: 1038px) {

  .para-one.h-one,
  .para-one.h-two,
  .para-one.h-three,
  .para-one.h-four {
    width: 80%;
  }

  .about,
  .edu,
  .skills,
  .contact,
  .projects {
    display: flex;
    width: 80%;
    overflow-wrap: normal;
    text-align: center;
    flex-direction: column;
  }

  .fl1 {
    width: 100%;
    min-width: 140px;
    padding: 5px 0px;
    text-align: center;
  }

  .fl2 {
    width: 100%;
    padding: 0;
    padding: 0px 10px 10px 10px;
  }

  .edu #company,
  #academia {
    font-size: larger;
    font-style: italic;
  }

  .work,
  .education {
    display: flex;
    flex-direction: column;
  }

  .contact {
    display: inline-block;
    justify-content: center;
    align-items: center;
  }

  .projects .fl1 {
    margin-bottom: -10px;
  }

  .projects h3 {
    text-align: center;
    padding-top: 10px;
  }

  .project-disc {
    margin-bottom: 10px;
    padding-top: 0px;
  }

  .contact .fab,
  .contact .fas {
    font-size: 40px;
  }

  @media screen and (max-width: 750px) {
    body {
      overflow-x: hidden;
    }

    nav {
      border-style: none;
      overflow: visible;
    }

    .navlinks {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color: #7d4f50;
      display: flex;
      flex-direction: column;
      align-self: center;
      transform: translateX(100%);
    }

    .navslide {
      transition: transform 0.5s ease-in;
    }

    .para-one.h-one,
    .para-one.h-two,
    .para-one.h-three,
    .para-one.h-four {
      width: 100%;
    }

    .about,
    .edu,
    .skills,
    .contact,
    .projects {
      width: 100%;
    }

    .navlinks li {
      opacity: 0;
    }

    .hamburger {
      display: block;
      cursor: pointer;
    }

    .project-wrapper {
      display: flex;
      flex-direction: column;
    }

    .projects br {
      margin: 10px 0;
    }

    .projects img {
      height: auto;
      width: 100%;
    }

    .projects h3 {
      text-align: center;
    }

    .project-img {
      align-items: center;
      width: 100%;
      padding: 15px 15px 0px 15px;
    }

    .project-disc {
      padding: 0px 15px 15px 15px;
    }

    .projects p {
      padding: 2% 0;
    }
  }

  .nav-active {
    transform: translateX(0%);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0px);
    }
  }

  .toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }

  .toggle .line2 {
    opacity: 0;
  }

  .toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }

  .projects a:link {
    float: right;
  }
}

.load-wrapper {
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.loader {
  margin: 0 auto;
  margin-top: 25%;
  border: 16px solid #f3f3f3;
  /* Light grey */
  border-top: 16px solid #3498db;
  /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.hidecontent {
  display: none;
}